@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;300;400;600&family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*h1 {*/
  /*  @apply text-2xl;*/
  /*}*/

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*margin: 0;*/
    /*padding: 0;*/
  }

  html {
    /*font-family: poppins, sans-serif;*/
    /*font-size: 62.5%;*/
    font-family: 'Poppins', sans-serif;
  }

  body {
    /*font-size: 1.6rem;*/
  }

  h2 {
    @apply text-4xl;
  }
}
/*font-weight: 200;*/
/*font-style: normal;*/

/*.btn-primary{*/
/*    @apply text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg;*/
/*}*/

/*.btn-secondary {*/
/*    @apply text-indigo-500 border-2 border-indigo-500 py-2 px-8 focus:outline-none hover:text-indigo-700 rounded text-lg;*/
/*}*/
